<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table>
      <thead>
        <th>name</th>
        <th>age</th>
        <th>salary</th>

      </thead>
      <tbody>
        <% for(let i=0;i<users.length;i++){ %>
          <tr>
            <td> <%= users[i].name %></td>
            </td> <%= users[i].age %> </td>
            <td><%= users[i].salary %></td>
          </tr>
          <% } %>
      </tbody>
    </table>
   
  </body>
</html>
